
:root{
    --primary: #009ef7;
    --blacky: #000;
    --light-soft-text: #545454;
    --dark-soft-text: #adadad;
    --whitey: #fff;
}

.light{
    --bg-color: var(--whitey);
    --text-color: var(--blacky);
    --soft-text: var(--light-soft-text);
}

.dark{
    --bg-color: var(--blacky);
    --text-color: var(--whitey);
    --soft-text: var(--dark-soft-text);
}

body{
    margin:0;
    padding: 0;

    display: flex;
    flex-direction: column;
    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    /* Set transition on background + color properties */
    transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
}

h1{
font-size: 40px;
font-weight: 700;
}
em{
    font-style: normal;
    color: var(--primary);
}

p{
    margin-top: 40px;
    font-weight: 200;
    color: var(--soft-text);
}

.page-heading{
    margin-bottom: 100px;
}

.navbar{
    /* background-color: grey; */
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.logo{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    /* color: var(--primary); */
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    
}

.navbar-nav > *{
    margin-right: 1.25rem;
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


a{
    text-decoration: none;
    color: currentColor;
}
a:hover, a>svg:hover{
    /* background-color: var(--bg-color); */
    background-color: var(--primary);
    /* box-shadow: 0px 3px 10px rgb(0,0,0,0.2); */
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    color: var(--whitey);
}

.icon-box{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.icon-box:hover{
    background-color: var(--primary);
}

.icon-box:hover svg{
    fill:#fff;
    transition: 0ms;
}


.hidden{
    display: none;
}

svg{
    fill: var(--text-color);
    transition: fill 1000ms ease-in-out;
}

main{
    padding: 4rem 4rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary);
    border-radius: 10px;
}
.card-head{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--primary);
    font-size: 20px;
}

.card-body{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.card-foot{
    border-top: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.card-foot > a{
    padding: 8px 20px 10px 20px;
    border-radius: 25px;
    background-color: var(--primary);
}

.feature-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tick{
    fill: #50cd89;
    margin-left: 5rem;
}