
:root{
    --columbia-blue: #CAE9FF;
    --indigo-dye: #1b4965;
    --blacky: #000;
    --whitey: #fff;
}

.light{
    --bg-color: var(--whitey);
    --text-color: var(--blacky);
}

.dark{
    --bg-color: var(--blacky);
    --text-color: var(--whitey);
}

body{
    margin:0;
    padding: 0;
    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    /* Set transition on background + color properties */
    transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
}

.navbar{
    background-color: grey;
    height: 100px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.navbar-nav > *{
    /* background-color: blue; */
    margin-right: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
}


a{
    text-decoration: none;
    color: currentColor;
}

.switcher{
    position: relative;
    display: inline-block;
}

.icon-box{
    height: 45px;
    width: 45px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    box-shadow: 0px 3px 10px rgb(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
}

.hidden{
    display: none;
}

svg{
    fill: var(--text-color);
    transition: fill 1000ms ease-in-out;
}

